
@{
    ViewBag.Title = "Index";
}
<style>
    .tabs-right img {
        width: 100%;
        padding: .5em;
        border: 4px double #999999;
    }
</style>


<center>
    <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" ;margin-bottom:30px;>About Us</h1>
</center>



<div class="tabs" id="about">
    <div class="container">
        <div class="col-md-6 tabs-left" style="margin-top:30px;margin-bottom:30px;">
            <div class="col-xs-2 tab-grid-left">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" style="margin-top:18px;">
                    <li class="active" style="font-size:17px;"><a href="#Tab1" style="border: 1px solid #ea821d; width: 120%; padding: 1.8em 0.5em; position: relative;" data-toggle="tab">Tab1</a></li>
                    <li style="font-size:17px;"><a href="#Tab2" style="border: 1px solid #ea821d; width: 120%; padding: 1.8em 0.5em; position: relative;" data-toggle="tab">Tab2</a></li>
                    <li style="font-size:17px;"><a href="#Tab3" style="border: 1px solid #ea821d; width: 120%; padding: 1.8em 0.5em; position: relative; " data-toggle="tab">Tab3</a></li>
                </ul>
            </div>
            <div class="col-xs-10 tab-grid-right">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="Tab1">
                        <div class="w3-text">
                            <center>
                                <h2 class="title">About</h2>
                                <p class="text-justify" style="font-size:17px;">
                                    Suppose,Pizza Hut is offering 3 medium sized pizzas and mix match the combinations at 1599 only which will save
                                    TK.484! But what a single person would do with 3 pizzas at a time?Or sometimes people want to buy some specific
                                    shade(s) from a lipstick set and rest shades of the set are those they will never use.We will make Pair Up,a
                                    website based system and try to help them here.Users can find pair up partner(s) to buy things by posting
                                    details.
                                </p>
                            </center>
                        </div>
                    </div>
                    <div class="tab-pane" id="Tab2">
                        <div class="w3-text">
                            <center>
                                <h2 class="title">Goal</h2>
                                <p class="text-justify" style="font-size:17px;">
                                    The main purpose of our website is to help people for sharing products.Users can find pair up partner(s) to buy things by posting
                                    details of the product.They will be able to buy same product by sharing
                                    with each other according to their needs,so that they can buy the product within their means.
                                </p>
                            </center>
                        </div>
                    </div>
                    <div class="tab-pane" id="Tab3">
                        <div class="w3-text">
                            <center>
                                <h2 class="title">Advantages</h2>
                                <p class="text-justify" style="font-size:17px;">
                                    Users can find pair up partner(s) to buy things by posting product images and
                                    details.Comment option will be available under each post. They can chat with each other also.They will able to see their own locatiion and find nearby locations.
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-6 tabs-right " style="margin-top:18px;">
            <center>
                <img src="~/Image/aboutus/customers_.png" />
            </center>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>































<div class="services" id="services" style="margin-top:20px;margin-bottom:30px;">
    <div class="container">
        <div class="w3l-services-heading">
            <center>
                <h2>Our Services</h2>
            </center>
        </div>
        <br />
        <div class="servc-grids">
            <div class="col-md-6 servc-grid">
                <div class="col-xs-3 servc-grid-left">
                    <span><img src="~/Image/aboutus/customer.png" /></span>
                </div>
                <div class="col-xs-9 servc-grid-right">
                    <h3>Customer Pair</h3>
                    <p class="text-justify" style="font-size:17px;">
                        Users can find pair up partner(s) to buy things by posting
                        details.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 servc-grid">
                <div class="col-xs-3 servc-grid-left" style="margin-top:20px;">
                    <span><img src="~/Image/aboutus/product.png" /></span>
                </div>
                <div class="col-xs-9 servc-grid-right">
                    <h3>Products</h3>
                    <p class="text-justify" style="font-size:17px;">
                        Their will be some products e.g. makeup,skin care,hair,clothing,toys,shoes,food etc.People can see products and also
                        add product image.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <br />
            <div class="clearfix"> </div>
        </div>
        <div class="servc-grids">
            <div class="col-md-6 servc-grid">
                <div class="col-xs-3 servc-grid-left" style="margin-top:20px;">
                    <span><img src="~/Image/aboutus/chatpost.png" /></span>
                </div>
                <div class="col-xs-9 servc-grid-right">
                    <h3>Chat and Post</h3>
                    <p class="text-justify" style="font-size:17px;">
                        Users can find pair up partner(s) to buy things by posting
                        details.Comment option will be available under each post. They can chat with each other also.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 servc-grid">
                <div class="col-xs-3 servc-grid-left" style="margin-top:20px;">
                    <span><img src="~/Image/aboutus/maplogo.png" /></span>
                </div>
                <div class="col-xs-9 servc-grid-right">
                    <h3>Location</h3>
                    <p class="text-justify" style="font-size:17px;">
                        User will able to see their location and find nearby locations of users.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>




        </div>
    </div>
</div>










<div class="container" style="margin-bottom:30px;">
    <div class="w3l-services-heading" style="margin-bottom:20px;">
        <center>
            <h2>Our Focus</h2>
        </center>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="image" style="border: 4px double #999999;">
                <img src="~/Image/aboutus/satisfaction.png" />

                <p class="text-center" style="font-size: 17px; border-top: 2px solid #999999;padding:3px; ">Customer Satisfaction</p>

            </div>

        </div>
        <div class="col-md-3">
            <div class="image" style="border: 4px double #999999;">
                <img src="~/Image/aboutus/websitedesign.png" />
                <p class="text-center" style="font-size: 17px; border-top: 2px solid #999999;padding:3px; ">Design</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="image" style="border: 4px double #999999;">
                <center>
                    <img src="~/Image/aboutus/quality.png" />
                    <p class="text-center" style="font-size: 17px; border-top: 2px solid #999999;padding:3px; ">Quality</p>
                </center>
            </div>
        </div>
        <div class="col-md-3">
            <div class="image" style="border: 4px double #999999;">
                <center>
                    <img src="~/Image/aboutus/responsive.png" />
                    <p class="text-center" style="font-size: 17px; border-top: 2px solid #999999;padding:3px; ">Responsive</p>
                </center>
            </div>
        </div>
    </div>
</div>














<div class="team" id="team" style="margin-top: 20px; margin-bottom:40px;">
    <div class="container">
        <div class="w3l-services-heading">
            <center>
                <h2>Our Team</h2>
            </center>
        </div>
        <center>
            <br />
            <div class="team-grids">
                <div class="col-md-4 agileinfo-team-grid" style=" height: 250px;">
                    <img src="" alt="">
                    <div class="captn" style="border: 2px solid #0f9e48; height: 250px;background-color:#E0FFFF ">
                        <center>
                            <h4 style="color:black;margin-top:50px;">Ramisa Maliyat</h4>

                            <p class="text-center" style="font-size: 17px; color: black;">developer</p>

                            <div class="w3l-social">
                                <ul class="list-unstyled">

                                    <li><a href="#" style="font-size: 15px; color: black;">180104079@aust.edu</a></li>
                                    <li><a href="#" style="font-size: 15px; color: black;">+880 123 456</a></li>

                                </ul>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="col-md-4 agileinfo-team-grid" style=" height: 250px; ">
                    <img src="images/t2.jpg" alt="">
                    <div class="captn" style="border: 2px solid #d2235f; height: 250px; ">
                        <center>
                            <h4 style="color:black;margin-top:50px;">Sadia Sultana</h4>

                            <p class="text-center" style="font-size: 17px; color: black;">developer</p>

                            <div class="w3l-social">
                                <ul class="list-unstyled">

                                    <li><a href="#" style="font-size: 15px; color: black;">180104094@aust.edu</a></li>
                                    <li><a href="#" style="font-size: 15px; color: black;">+880 123 456</a></li>

                                </ul>
                            </div>
                        </center>
                    </div>
                </div>

                <div class="col-md-4 agileinfo-team-grid" style=" height: 250px; ">
                    <img src="images/t2.jpg" alt="">
                    <div class="captn" style="border: 2px solid #0f9e48; height: 250px; background-color: #E0FFFF ">
                        <center>
                            <h4 style="color:black;margin-top:50px;">Tahlamuna Rulpi</h4>

                            <p class="text-center" style="font-size: 17px; color: black;">developer</p>

                            <div class="w3l-social">
                                <ul class="list-unstyled">

                                    <li><a href="#" style="font-size: 15px; color: black;">170204083@aust.edu</a></li>
                                    <li><a href="#" style="font-size: 15px; color: black;">+880 123 456</a></li>

                                </ul>
                            </div>
                        </center>
                    </div>
                </div>



                <div class="clearfix"> </div>
            </div>
        </center>
    </div>
</div>






